<div class="counsellor-info-page">
  <section class="info-section">
    <div class="container">
      <h1 class="page-title">Kids Camp Counselor FAQ's</h1>

      <!-- Camping Set-up Section -->
      <div class="info-card">
        <h2 class="section-heading">Camping Set-up</h2>

        <div class="faq-item">
          <h3 class="faq-question">Q: What should I expect on my campsite?</h3>
          <p class="faq-answer">Your campsite location will be e-mailed to you a few weeks before Kids Camp begins. You will need a tent for yourself, a tent for your group, a kitchen set-up with a stove and basic appliances. If your campsite is not located under a rainshine (covered pavilion), you will want an easy-up where you can put your table/chairs for meals and Bible readings. Tents, easy-ups, and most of the kitchen supplies are available upon request if you need them.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: Is there fresh water available at my campsite?</h3>
          <p class="faq-answer">There is fresh water available at taps near each campsite. However, most counselors bring bottled water to drink from. The water available is typically used for cleaning pans and dishes.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: How much extra food/snacks should I bring?</h3>
          <p class="faq-answer">The camp provides food for breakfast, lunch and dinner only, so snacks are up to you as the counselor. There are also additional foods suggested for you to bring for your group to supplement the meals (see Counselor checklist). It is encouraged that you send an email out to your camp group introducing yourself and also asking for kids to bring their favorite snacks and/or drinks to share with the group throughout the week. It is completely up to you with how much food you would like to provide. In general, there's usually not that much food leftover after each meal.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: Are there electrical outlets at my campsite?</h3>
          <p class="faq-answer">There are no electrical outlets at the campsite. However, there are electrical outlets in the main hall. Many counselors find it helpful to bring a portable battery to charge phones, power fans, sound machines, etc. You can also charge phones in the main hall. Please plan to rely on lanterns and flashlights at night.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: Are folding tables needed?</h3>
          <p class="faq-answer">There are picnic tables available at each campsite. Some counselors find it helpful to have extra tables to set up their cooking and cleaning stations. Campsites will be assigned about a month prior to the start of camp, at which time we can help you determine if your particular site will require extra tables.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: How many tents are needed?</h3>
          <p class="faq-answer">You will need to supply your own tent and a tent for your campers. If you have a large group of campers, it is also helpful to have an additional tent for campers to keep their suitcases in and they can use this tent as a "changing" tent. You should reach out to your campers first and then the Kids Camp Committee if you need help with obtaining extra tents.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: What camping gear is good to have?</h3>
          <p class="faq-answer">The Counselor checklist on the Kids Camp website contains all the items you will need for camping during the week. Some extra, "nice to have" items are outdoor rugs, folding tables, picnic table cloths, etc. If you are not assigned to a rainshine location (a covered pavilion), you will also want to bring easy-ups (available upon request) for shade.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: How many bathrooms are there?</h3>
          <p class="faq-answer">There are bathrooms located at the main hall which also have two showers for the girls and one shower for the boys. There is another bathroom facility located in the middle of the campground. Parked next to these bathrooms is a shower trailer that can be used by the kids and counselors. The counselors have the option to use additional bathrooms around the camp throughout the week.</p>
        </div>
      </div>

      <!-- Counselor Expectations Section -->
      <div class="info-card highlight">
        <h2 class="section-heading">Counselor Expectations</h2>
        <p class="intro-note">Please note, there will be a "counselor bootcamp" the first evening of Kids Camp where more details will be provided. These are just a few helpful FAQ's to give you an idea of what to expect if you've never counseled before.</p>

        <div class="faq-item">
          <h3 class="faq-question">Q: What is the role of the counselor?</h3>
          <p class="faq-answer">The camp groups are designed to transform into family units during the week. The hope is that over the course of the week you build strong relationships with one another and you become like their "camp parents" for the week. It is also important to note, counselors will not have their own children assigned to their camp group (with the exception of those bringing children who are squirts).</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: What are some tips to be successful as a counselor?</h3>
          <p class="faq-answer">A few weeks prior to the start of camp, it's very important that you email your group of campers and parents to introduce yourself and also provide them with the following tips:</p>
          <ul class="tips-list">
            <li>What to bring (refer them to the official packing list on Kids Camp website)</li>
            <li>If you need extra tents, please ask your campers if anyone has one</li>
            <li>Plates, utensils, cups, etc (you can decide if you want everyone to bring reusable items or if you will provide paper/plastic for the group)</li>
            <li>Reusable water bottles</li>
            <li>Completed workbook</li>
            <li>Favorite snack to share (optional)</li>
            <li>Favorite board/card game for evenings (optional)</li>
          </ul>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: What are the expectations for Bible readings each day?</h3>
          <p class="faq-answer">There is a daily Bible reading assigned each day (it is printed in the manual) that is to be done with your group. These readings are the basis for the Bible reading quiz questions during morning assembly each day. The readings for each day will be what the quiz will be on the next morning (for example, Tuesday's Bible reading will be for Wednesday's morning quiz.) The best way to prepare for the quiz is to ask the kids questions as you go through the readings during each meal and help them to remember names, key events, etc.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: What is the citizenship award?</h3>
          <p class="faq-answer">At the end of the week there is an award ceremony and the citizenship award is presented to one individual from each age category (juniors, intermediates and teens). As a counselor, you must select from your group the camper who displayed the best citizenship throughout the week. Perhaps the camper who was the most helpful, respectful, kind, considerate, etc. We know this can often be a very difficult award to decipher! If you are feeling stuck, feel free to ask their teachers if they have any input on how campers behaved/participated during class or even observe their behavior during afternoon sports or choir! More details on this will be discussed at the counselor "boot camp" training the first night of Kids Camp.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: What is the workbook award all about?</h3>
          <p class="faq-answer">The workbook award is given to the camper in their age category that did the most thorough job completing his or her workbook. As a counselor you must select from your camp group the individual who had the best workbook. Check that all questions are answered and to make a better judgment, compare the answers that require deeper responses. Not all campers have the same academic background, but as you get to know your group during the week you will have a better idea on the amount of effort put into their workbook. More details on this will be discussed at the counselor "boot camp" training the first night of Kids Camp.</p>
        </div>

        <div class="faq-item">
          <h3 class="faq-question">Q: What if a camper comes to camp with an incomplete workbook?</h3>
          <p class="faq-answer">In order to participate in afternoon activities, the camper will need to complete his or her workbook. During the afternoons they will have to sit with a designated committee member until the workbook is completed.</p>
        </div>
      </div>

      <!-- Registration Section -->
      <div class="info-card">
        <h2 class="section-heading">Counsellor Experience</h2>
        <div class="contact-info">
          <p><strong>For more information on what the counseling experience is like, please contact Bro. James and Sis. Kristen Styles</strong></p>
          <p>
            <a href="tel:805-433-3409">805-433-3409</a><br>
            <a href="mailto:kidscampcalifornia@gmail.com">kidscampcalifornia@gmail.com</a>
          </p>
    </div>
  </section>
</div>

