// Attendee Info page styles
.attendee-info-page {
  .info-section {
    padding: $spacing-2xl 0;
    background-color: $background-light;
    
    @include mobile {
      padding: $spacing-xl 0;
    }
  }
  
  .page-title {
    text-align: center;
    font-size: $font-size-h1;
    color: $primary-color;
    margin-bottom: $spacing-xl;
    
    @include mobile {
      font-size: $font-size-h2;
    }
  }
  
  .info-card {
    @include card;
    background-color: $background-white;
    margin-bottom: $spacing-lg;
    padding: $spacing-lg;
    
    @include mobile {
      padding: $spacing-md;
    }
    
    &.highlight {
      border-left: 4px solid $secondary-color;
      background: linear-gradient(135deg, lighten($secondary-color, 45%), lighten($secondary-color, 50%));
    }
  }
  
  .section-heading {
    color: $primary-color;
    font-size: $font-size-h3;
    margin-bottom: $spacing-md;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid $primary-color;
    padding-bottom: $spacing-xs;
    
    @include mobile {
      font-size: $font-size-h4;
    }
  }
  
  .contact-info {
    p {
      margin-bottom: $spacing-sm;
      font-size: $font-size-large;
      color: $text-dark;
      
      strong {
        color: $primary-dark;
        font-size: $font-size-h4;
      }
      
      a {
        color: $primary-color;
        text-decoration: none;
        
        &:hover {
          color: $primary-dark;
          text-decoration: underline;
        }
      }
    }
  }
  
  .cost-list {
    list-style: none;
    margin: $spacing-md 0;
    padding-left: 0;
    
    li {
      padding: $spacing-xs 0;
      font-size: $font-size-large;
      color: $text-dark;
      border-bottom: 1px solid $border-color;
      
      &:last-child {
        border-bottom: none;
      }
      
      strong {
        color: $primary-dark;
        font-weight: $font-weight-semibold;
      }
    }
  }
  
  .note {
    margin-top: $spacing-md;
    padding: $spacing-md;
    background-color: lighten($primary-color, 50%);
    border-left: 4px solid $primary-color;
    border-radius: $border-radius-sm;
    font-style: italic;
    color: $text-dark;
  }
  
  .important-note {
    margin-top: $spacing-md;
    padding: $spacing-md;
    background-color: lighten($secondary-color, 40%);
    border-left: 4px solid $secondary-color;
    border-radius: $border-radius-sm;
    color: $text-dark;
    font-weight: $font-weight-medium;
  }
  
  .subsection {
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-lg;
    border-bottom: 1px solid $border-color;
    
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
  .subsection-heading {
    color: $primary-color;
    font-size: $font-size-h4;
    margin-bottom: $spacing-sm;
    margin-top: $spacing-md;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
    @include mobile {
      font-size: $font-size-base * 1.1;
    }
  }
  
  p {
    color: $text-light;
    font-size: $font-size-base;
    line-height: 1.8;
    margin-bottom: $spacing-sm;
    
    strong {
      color: $text-dark;
      font-weight: $font-weight-semibold;
    }
    
    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: $font-weight-medium;
      
      &:hover {
        color: $primary-dark;
        text-decoration: underline;
      }
    }
  }
}

